* text=auto

# 二进制文件不做行尾转换
*.db      binary
*.db-wal  binary
*.db-shm  binary
*.zip     binary
*.png     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
*.ico     binary
*.woff    binary
*.woff2   binary
